# SPDX-FileCopyrightText: 2026 Skye Soss <skye@soss.website>
#
# SPDX-License-Identifier: MIT-0

[Unit]
Description=defused FUSE mount service
Documentation=https://github.com/Skyb0rg007/defused

[Service]
ExecStart=/usr/lib/defused/defused

[Install]
